<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <!-- Header Section -->
  <header class="main-header">
    <div class="logo">
      <a href="/" class="logo-link">Terrabase</a>
    </div>
    <nav class="main-nav">
      <ul class="nav-list">
        <li class="nav-item home-item"><a href="/" class="nav-link">Home</a></li>
<<<<<<< HEAD
        <li class="nav-item research-item"><a href="/crypto-research" class="nav-link">Crypto Research</a></li>
        <li class="nav-item scanner-item"><a href="/scanner" class="nav-link">Scanner</a></li>
        <li class="nav-item trading-item"><a href="/paper-trading" class="nav-link">Paper Trading</a></li>
=======
        <li class="nav-item news-item"><a href="/news" class="nav-link">News</a></li>
        <li class="nav-item research-item"><a href="/crypto-research" class="nav-link">Crypto Research</a></li>
        <li class="nav-item cryptoDetails-item"><a href="/cryptoDetails" class="nav-link">Crypto Details</a></li>
        <li class="nav-item scanner-item"><a href="/scanner" class="nav-link">Scanner</a></li>
        <li class="nav-item trading-item"><a href="/paper-trading" class="nav-link">Paper Trading</a></li>
        <li class="nav-item watchlist-item"><a href="/watchlist" class="nav-link">Watchlist</a></li>
>>>>>>> 719f7b3d (Updated local code with Watchlist, Register features, and bug fixes)
        <li class="nav-item admin-item"><a href="/admin" class="nav-link">Admin</a></li>
        <li class="nav-item login-item"><a href="/login" class="nav-link">Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="main-content">
    {{{body}}}
  </main>

  <!-- Footer Section -->
  <footer class="main-footer">
    <p>&copy; 2025 Terrabase. All rights reserved.</p>
  </footer>
</body>
</html>
